{% extends "base.html" %}
{% block title%}Album Manager{% endblock title %}

{% block content  %}
            
        <p>Ha seleccionado al disco: <strong>{{ album | capfirst }}</strong></p>
            <h3>Informacion del Disco:</h3>
            <ul>
            <li>Fecha de Lanzamiento: {{album.year}}</li>
            <li>Genero: {{album.genre}}.</li>
            <li>Artista Asociado: {{album.artist}}.</li>
            </ul>
                    <a href ="/">Regresar<a>
        </div>
    </body>
</html>

{% endblock content %}

